@import "tailwindcss";

/* VueFlow base styles */
@import "@vue-flow/core/dist/style.css";
@import "@vue-flow/core/dist/theme-default.css";
@import "@vue-flow/controls/dist/style.css";
@import "@vue-flow/minimap/dist/style.css";

@layer base {
  html,
  body,
  #app {
    @apply m-0 p-0 w-full h-full font-sans bg-slate-900 text-slate-50;
  }

  #app {
    @apply flex flex-col;
  }
}
